*{
    box-sizing: border-box;    
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h2{
    font-weight: 200;
    margin: 15px 0 10px 0;
}

.header{
    width: 100%;
    height: 100vh;
    background: #4a6d89; /* Old browsers */
    background: -moz-linear-gradient(top, #4a6d89 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4a6d89 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4a6d89 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
	a{
		color: white;
		text-decoration: none;
	}
	
}

.welcome{
	color: white;
	text-align: center;
	font-size:0.8em;
	margin-top: 1%;
	line-height: 160%;
}
.errorDiv{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.closePopupDiv{
    width: 100%;
    text-align: right;
}

.artistSearchField{
    width: 300px;
    font-size: 20px;
    border: 2px solid black;
    background-color: aquamarine;
}

.artistSearchButton{
    width: 50px;
    height: 20px;
    font-size: 20px;
    border: 2px solid black;
    background-color: blue;
}

.aphabeticalMenuWrapper{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    background: black;
    color: white;
}

.aphabeticalMenu{
    width: 3.44%;
    text-align: center;
    font-size: 16px;
}

.aphabeticalMenu:hover{
    text-decoration: underline;
    cursor: pointer;
}

.navigation {
	background-color: #000;
	margin-bottom: 3%;
    padding: 15px;
}

.navItem {
	flex: 0 1 auto;
	color: #fff;
}
.navItem a {
	color: #fff;
	text-decoration: none;
}
.navItem:hover{
    text-decoration: underline;
    cursor: pointer;
}

.menu{
    margin-top: 10px;
    line-height: 23px;
}

.hamburger{
    display: inline-block;
    cursor: pointer;
}

.bar{
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 5%;
}

.content{
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    
    .sectionHeadline{
        width: 100%;
        margin: 20px 0 10px 5px;
    }
}
.headingForms {
	text-align: center;
}
.addArtistForms {
	width: 100%;
	margin-bottom: 10%;
}
.artistFormElement{
	margin: 0px auto;
    width: 55%;
	text-align: center;
	line-height: 180%;
} 
.confirmationMessage{
	width: 55%;
	margin: 0px auto;
	margin-bottom: 5%;
	font-style: italic;	
	text-align: center;
	line-height: 180%;
}

.artistFormElement input{
	width: 50%;
	border-radius: 7px;
	padding: 2%;
	font-size: 1em;
	box-shadow: none;
	border: 1px solid gray;
}
.selectGender{
    border: 1px solid gray;
    background: white;
    width: 25%;
	font-size: 0.8em;
	margin-bottom: 2%;
}

.cardWrapper{
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px #a7a7a7;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    padding-bottom: 25px;
    
    .rateTrack{
        background: white;
        border: 1px solid #363636;
        margin-right: 5px;
    }
    
    .rateAlbum{
        background: white;
        border: 1px solid #363636;
        margin: 10px 5px 15px 0;
    }
    
    .cardAlbumImg, .cardArtistImg{
        max-height: 350px;
        overflow: hidden;
        
        img{
            width: 100%;
        }
    }
    
    .cardContent{
        padding: 0 7%;
        
        a{
            text-decoration: none;
            color: black;
        }
    }
    
    .cardTrackList{
        
        p{
            margin: 20px 0 3px 0;
            
            a{
                color: black;
                text-decoration: none;
            }
        }
        
        .showOptionsButton{
            cursor: pointer;
            font-weight: bold;
            font-size: 1.3em;
            margin-left: 5px;
        }
    }
}
.cardWrapper.cardWrapperPlaylist{
    padding: 0 2%;
}
.cardTrackPlaylist {
	line-height: 140%;
}
.playlistInput {
	width: 100%;
	margin: 5px 0 5px 0;
	padding: 3px;
	box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid gray;
}
.cardMenuElement {
	margin: 15px 0 10px 0;
}
.cardArtistName{
    font-size: 1.8em;
    margin-top: 15px;
}
.cardPlaylistName{
    font-size: 1.8em;
    margin-top: 15px;
}
.cardCommentInput {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid black;
}

.cardAlbumTitle{
    font-size: 1.2em;
    margin-bottom: 10px;
    
    a{
        color: black;
        text-decoration: none;
    }
}

.cardArtistBorn{
   margin-bottom: 10px;
}

.ratingStar{
    width: 10px;
}

.trackOptions{
    display: block;
    font-size: 0.8em;
    
    select{
        font-size: 0.8em;
        margin-right: 10px;
    }
}

.addTrackToPlaylist, .deleteButton{
    border: none;
    padding: 0;
    background: transparent;
    margin-right: 10px;
    
    img{
        width: 10px
    }
}

.deleteButton{
    margin-left: 10px;
}

.deleteArtist{
    .deleteButton{
        margin: 0;
    }
}

.choosePlaylist{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    height: 200px;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.playlistSelection{
    padding: 20px;
}

.mainSearch{
    width: 100%;
    padding: 0 4%;
}

.searchField{
    padding: 20px;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
}

.selectSearch{
    border: none;
    background: white;
    width: calc(50% - 8px);
    height: 30px;
    margin-right: 10px;
    padding: 0 0 0 10px;
}

.searchButton{
    width: calc(50% - 8px);
    background: #d1d1d1;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.formButton:hover{
	text-decoration: underline;
    cursor: pointer;
}

.formButton{
    width: 35%;
    background: #d1d1d1;
    height: 30px;
    border: none;
    border-radius: 5px;
	margin: 3% 0 10% 0;
}
.formButton:hover{
	text-decoration: underline;
    cursor: pointer;
}
.addCommentButton {
	width: 48%;
    background: #d1d1d1;
    height: 30px;
    border: none;
    border-radius: 5px;
	margin-top: 7px;
}
.addCommentButton:hover{
    text-decoration: underline;
    cursor: pointer;
}
.viewCommentsLink:hover{
    text-decoration: underline;
    cursor: pointer;
}
.singleComment {
	border-top: 1px solid grey;
}

.font-weight {
	font-weight: bold;
}

.cardPlaylistGenres{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.genre{
    border-radius: 3px;
    padding: 5px;
    font-size: 0.7em;
    background: #4a6d89;
    margin-right: 5px;
    color: white;
}

.hidden{
    display: none;
}

//All of the following code is from http://tobiasahlin.com/spinkit/
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

