*{
    box-sizing: border-box;    
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h2{
    font-weight: 200;
}

.header{
    width: 100%;
    height: 100vh;
    background: #4a6d89; /* Old browsers */
    background: -moz-linear-gradient(top, #4a6d89 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4a6d89 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4a6d89 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 2.5em;
    }
	a{
		color: white;
		text-decoration: none;
	}
}

.artistSearchField{
    width: 300px;
    font-size: 20px;
    border: 2px solid black;
    background-color: aquamarine;
}

.artistSearchButton{
    width: 50px;
    height: 20px;
    font-size: 20px;
    border: 2px solid black;
    background-color: blue;
}

.aphabeticalMenuWrapper{
    //margin-bottom: 15px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    background: black;
    color: white;
}

.aphabeticalMenu{
    width: 3.44%;
    text-align: center;
    font-size: 16px;
}

.aphabeticalMenu:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: lightgray;
	margin-bottom: 3%;
}
.navItem {
	flex: 0 1 auto;
	text-align: center;
	margin: 2% 0 2% 0;
	color: darkblue;
}
.navItem a {
	color: darkblue;
	text-decoration: none;
}
.navItem:hover{
    text-decoration: underline;
    cursor: pointer;
}
.content{
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
.headingForms {
	text-align: center;
}
.addArtistForms {
	width: 100%;
}
.artistFormElement{
	margin: 0px auto;
    width: 55%;
	text-align: center;
	line-height: 180%;
} 
.confirmationMessage{
	width: 55%;
	margin: 0px auto;
	margin-bottom: 5%;
	font-style: italic;	
	text-align: center;
	line-height: 180%;
}

.artistFormElement input{
	width: 50%;
	border-radius: 7px;
	padding: 2%;
	font-size: 1em;
	box-shadow: none;
	border: 1px solid gray;
}
.selectGender{
    border: 1px solid gray;
    background: white;
    width: 25%;
	font-size: 0.8em;
	margin-bottom: 2%;
}

.cardWrapper{
    width: 32%;
    overflow: hidden;
    border: 1px solid #363636;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    padding-bottom: 25px;
    
    .rateTrack{
        background: white;
        border: 1px solid #363636;
        margin: 0 5px;
    }
    
    .cardAlbumImg, .cardArtistImg{
        max-height: 350px;
        overflow: hidden;
        
        img{
            width: 100%;
        }
    }
    
    .cardTrackList{
        padding: 0 25px;
        
        p{
            margin: 15px 0 3px 0;
            
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}
.cardWrapper.cardWrapperPlaylist{
    padding: 0 2%;
}
.cardTrackPlaylist {
	line-height: 140%;
}
.playlistInput {
	width: 100%;
	margin: 5px 0 5px 0;
	padding: 3px;
	box-sizing: border-box;
}
.cardMenuElement {
	margin: 15px 0 10px 0;
}
.cardArtistName{
    padding: 0 25px;
    font-size: 1.8em;
    margin-top: 15px;
}
.cardPlaylistName{
    font-size: 1.8em;
    margin-top: 15px;
}
.cardCommentInput {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid black;
}

.cardAlbumTitle{
    font-weight: 600;
    padding: 0 25px;
    
    a{
        color: black;
        text-decoration: none;
    }
}

.cardArtistGenres, .cardAlbumGenres, .cardArtistBorn{
    padding: 0 25px;
}

.ratingStar{
    width: 10px;
}

.trackOptions{
    display: block;
    font-size: 0.8em;
    
    select{
        font-size: 0.8em;
        margin-right: 10px;
    }
}

.addTrackToPlaylist, .deleteButton{
    border: none;
    padding: 0;
    background: transparent;
    margin-right: 10px;
    
    img{
        width: 10px
    }
}

.deleteButton{
    margin-left: 10px;
}

.choosePlaylist{
    width: 200px;
    height: 200px;
    margin: 0px auto;
    index: 99;
    position: absolute;
    top: 10;
    left: 10;
    background-color: hotpink;
}

.mainSearch{
    margin: 0 auto;
    width: 400px;
}

.searchField{
    padding: 20px;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
}

.selectSearch{
    border: none;
    background: white;
    width: 48%;
    height: 30px;
    margin-right: 10px;
}

.searchButton{
    width: 48%;
    background: #d1d1d1;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.formButton{
    width: 35%;
    background: #d1d1d1;
    height: 30px;
    border: none;
    border-radius: 5px;
	margin: 3% 0 10% 0;
}
.formButton:hover{
	text-decoration: underline;
    cursor: pointer;
}
.addCommentButton {
	width: 48%;
    background: #d1d1d1;
    height: 30px;
    border: none;
    border-radius: 5px;
	margin-top: 7px;
}
.addCommentButton:hover{
    text-decoration: underline;
    cursor: pointer;
}
.viewCommentsLink:hover{
    text-decoration: underline;
    cursor: pointer;
}
.singleComment {
	border-top: 1px solid grey;
}

.font-weight {
	font-weight: bold;
}
