*{
    box-sizing: border-box;    
}

body{
    margin: 0;
}

.artistSearchField{
    width: 300px;
    font-size: 20px;
    border: 2px solid black;
    background-color: aquamarine;
}

.artistSearchButton{
    width: 50px;
    height: 20px;
    font-size: 20px;
    border: 2px solid black;
    background-color: blue;
}

.aphabeticalMenuWrapper{
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.aphabeticalMenu{
    width: 3.44%;
    text-align: center;
    background-color: lightgrey;
    font-size: 16px;
}


.content{
    margin: 0px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.cardWrapper{
    width: 48%;
    overflow: hidden;
    border: 1px solid #363636;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    margin: 5px;
    
    .cardAlbumImg{
        img{
            width: 100%;
        }
    }
    
    .cardTrackList{
        padding: 25px;
        p{
            margin: 15px 0 3px 0;
            
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}

.cardArtistName{
    font-size: 18px;
    padding: 0 25px;
}

.cardAlbumTitle{
    font-weight: 600;
    padding: 0 25px;
}

.cardAlbumGenres{
    padding: 0 25px;
}

.trackOptions{
    display: block;
    font-size: 0.8em;
    
    img{
        width: 10px;
    }
}

.addTrackToPlaylist, .deleteTrack{
    border: none;
    padding: 0;
    background: transparent;
    margin-right: 10px;
    
    img{
        width: 10px
    }
}

.deleteTrack{
    margin-left: 10px;
}

.choosePlaylist{
    width: 200px;
    height: 200px;
    margin: 0px auto;
    index: 99;
    position: absolute;
    top: 10;
    left: 10;
    background-color: hotpink;
}
