.artistSearchField{
    width: 300px;
    font-size: 20px;
    border: 2px solid black;
    background-color: aquamarine;
}

.artistSearchButton{
    width: 50px;
    height: 20px;
    font-size: 20px;
    border: 2px solid black;
    background-color: blue;
}


.content{
    margin: 0px auto;
    width: 80%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.cardWrapper{
    width: 50%;
    height: 300px;
    border: 1px solid purple;
    box-sizing: border-box;
}